<!DOCTYPE HTML>
<html xmlns:th="http://www.thymelead.org">
	<head>
		<title>Thymeleaf Table Demo</title>
	</head>
<body>
	<h3>Employee Directory</h3>	
	<hr>
	
	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employeeList : ${employees}">
				<td th:text="${employeeList.firstName}" />
				<td th:text="${employeeList.lastName}" />
				<td th:text="${employeeList.email}" />
			</tr>
		</tbody>
	</table>

</body>
</html>